#root {
  max-width: 1280px;
  margin: 0 auto;
}

html,
body {
  overflow-x: hidden;
}

.container {
  padding: 15px;
}

.logo {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.navigation-mobile {
  display: block;
  padding: 10px;
}
.navigation {
  display: flex;
}

.navigation > li,
.navigation-mobile > li {
  list-style: none;
}

.funs_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
